html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*styling for the banner and the modal*/

.banner {
    height: 100%;
    
    .modal {
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: url('../images/P15.jpeg') no-repeat center;
        background-size: cover;
        position: fixed;
        transition: cubic-bezier(0.42, 0, 0.53, 1.02) all 0.5s;
        &.active {
            display: none;
            transition: cubic-bezier(0.42, 0, 0.53, 1.02) all 0.5s;
        }
    }
}

/*end of the banner and the modal*/


/* styling of the icon*/

.icon {
    text-align: center;
    width: 10%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3em;
    position: absolute;
}
.icon-btn {
    background: url(../icons/442-Arrow_down-128.png) no-repeat center;
    width: 70px;
    margin: auto;
    height: 100px;
    background-size: contain;
}

/* end of the icon*/


/*the header*/

.header {
    width: 100%;
    margin: 0;
    background: rgb(66, 50, 50);
    text-align: center;
    display: inline-block;
    .call {
        width: 30%;
        float: left;
        padding-left: 10px;
        ul {
            list-style: none;
            margin: 0 10px;
            padding: 0;
        }
        li {
            float: left;
            padding: 15px;
            color: #fff;
        }
    }
    .socials {
        width: 25%;
        float: right;
        padding-right: 15px;
        color: #fff;
        ul {
            list-style: none;
            margin: 0 6em 0;
            padding: 0;
        }
        li {
            float: left;
            padding: 15px;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

/*end of the header styling*/


/* styling of the landing page*/

.landing {
    width: 100%;
    height: 100%;
    margin-top: 0;
    text-align: center;
    background: url('../images/P9.jpeg') no-repeat center;
    background-size: cover;
    line-height: 1em;
    .logo {
        color: #fff;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 3em;
        position: relative;
        padding-top: 1.2em;
        h2 {
            margin-top: 0;
        }
    }
    .inner-landing {
        font-size: 2.3em;
        font-family: courier;
        position: relative;
        span {
            color: #d4e30f;
        }
        h4 {
            padding-top: 15px;
            font-size: 20px;
            font-style: italic;
            font-weight: lighter;
            margin: 0;
        }
        .btn {
            margin-top: 30px;
            background: #fff;
            color: #111;
            padding: 15px;
            border: 1px solid #111;
            border-radius: none;
            box-shadow: none;
            &:hover {
                background: darkred;
                color: #111;
            }
        }
    }
    /*end of the landing page*/
    /*the nav-bar*/
    .narlink {
        display: inline-block;
        margin: 15em auto 0;
        background: transparent;
        position: relative;
        ul {
            margin: 0;
            list-style: none;
        }
        li {
            padding: 15px;
            float: left;
            font-weight: 400;
            font-size: 1.3em;
            a {
                color: #999;
                text-decoration: none;
                &.active {
                    color: rgb(238, 69, 89)
                }
            }
        }
    }
}

/*end of the nav-bar stylings */


/*the landing page overlay */

.land-overlay {
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: .5;
    position: absolute;
}

/*end of the overlay*/


/*the welcome introduction */

.container {
    width: 100%; //background: #797979;
    .welcome {
        text-align: center;
        color: black;
        h4 {
            font-size: 3em;
            font-weight: bolder;
            font-family: ariel;
            margin: 10px 0 0 0;
        }
        p {
            font-family: sans-serif;
            padding: 20px;
            line-height: 25px;
            font-weight: lighter;
        }
    }
}

/*end style of the introduction*/


/*the food samples*/

.mid-container {
    width: 100%;
    height: auto;
    .samples {
        display: inline-block;
        width: 100%;
        overflow-y: hidden;
        .inner-image {
            width: 100%;
            height: 350px;
            background-size: contain;
        }
        .p1-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background: #484748;
        }
        a {
            text-decoration: none;
            color: #111;
        }
        button {
            font-size: 17px;
            padding: 15px;
            border-radius: 8px;
            width: 90px;
            &:hover {
                border: 1px solid #111;
                box-shadow: none;
                border-radius: none;
                background: #fff;
            }
        }
        .text {
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            span {
                font-family: sans-serif;
                font-size: 1.8em;
                font-weight: lighter;
            }
            h3 {
                font-weight: lighter;
                font-size: 2em;
                margin: 0;
            }
        }
    }
    .sec-2 {
        text-align: center;
        margin-top: 35px;
        a {
            text-decoration: none;
        }
        .btn {
            padding: .9em 2em;
            border: none;
            outline: none;
            border-radius: 50px;
            
        }
        .btn-gallery {
            background: #111;
            color: #fff;
            &:hover {
                border: 1px solid #111;
                background: none;
                color: #111;
            }
        }
       /* .pictures {
            margin-top: 30px;
            background: #fff;
            color: #111;
            padding: 15px;
            border: 1px solid #111;
            border-radius: none;
            box-shadow: none;
            & :hover{
                background: #111;
                color: #fff;
            }
        }
        a{
            text-decoration: none;
            font-size: 1.2em;
        }*/
    }
    /*end of the samples*/
    /* the overlay of the samples*/
    .col-1 {
        width: 30.5%;
        min-height: 1px;
        position: relative;
        float: left;
        margin-left: 27px;
        &:hover {
            .p1-overlay {
                opacity: .8;
            }
        }
    }
}
.p1 {
    &:hover {
        box-shadow: 5px 5px 2px 2px #322;
        background: #000;
        opacity: .7;
    }
}

/*end of the overlay*/


/*styling for the menu */

.menu {
    .check-out {
        margin: 5%;
        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 2em;
        }
        p {
            text-align: center;
            font-size: 1.2em;
            margin-left: 25px;
            padding: 5px;
        }
        button {
            padding: 15px;
            border-radius: 8px;
            width: 90px;
            &:hover {
                border: 1px solid #111;
                box-shadow: none;
                border-radius: none;
                background: #fff;
            }
        }
        a {
            text-decoration: none;
            font-size: 1.2em;
            color: #111;
        }
    }
}

/* end style for the menu*/


/*styling of the owner's section*/

.about {
    width: 100%;
    height: 60vh;
    margin: 10px auto 0;
    display: inline-block;
    background-color: #f7f7f7;
    .owner {
        width: 40%;
        float: left;
        height: auto;
        border-radius: 15px;
        .inner-owner {
            width: 55%;
            border-radius: 15px;
            margin: 2em auto 12px;
            height: 300px;
            box-shadow: rgba(#000, .4) 3px 2px 10px 1px;
            text-align: center;
            img {
                width: 100%;
                height: inherit;
                border-radius: 15px;
                background-size: contain;
                background-position: center;
            }
        }
        p {
            text-align: center;
            font-weight: bold;
            margin-left: 5%;
        }
    }
    .uplink {
        width: 50%;
        float: left;
        border-radius: 15px;
        text-align: center;
        padding-top: 5em;
        h2 {
            margin-left: 5%;
            text-align: center;
            font-size: 2em;
            font-family: monospace;
            font-weight: bold;
        }
        p {
            font-size: 1.2em;
            font-weight: lighter;
        }
    }
}

/*the location*/

.last {
    width: 100%;
    height: 40vh;
    margin: 0;
    .location {
        height: auto;
        width: 100%;
        display: block;
        h5 {
            text-align: center;
            font-family: ariel;
            font-size: 2em;
            margin: 2.2em 0 .6em 0;
            font-weight: lighter;
        }
        p {
            text-align: center;
            font-family: ariel;
            font-size: 1.2em;
            margin: 2px auto 3em;
        }
        .shop-1,
        .shop-2,
        .shop-3 {
            float: left;
            margin: 5px 5% 0px;
            width: 23%;
            @media (max-width:768px) {
                float: none;
                
            }
            h2 {
                margin: 0;
                text-align: center;
            }
        }
    }
}

/*the end of the location*/


/*styling of the footer*/

footer {
    width: 100%;
    text-align: center;
    background: rgb(66, 50, 50);
    .claim {
        padding: 20px;
        color: #fff;
        font-family: ariel;
        font-size: 1.2em;
        font-weight: lighter;
    }
}
